body {
    background-color: #f0f4f8;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#todo-input {
    width: 80%;
    padding: 10px;
    border: 2px solid #dcdde1;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

#todo-input:focus {
    border-color: #40739e;
    outline: none;
}

#add-btn {
    background-color: #40739e;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

#add-btn:hover {
    background-color: #3b5998;
}

#todo-list {
    list-style: none;
    padding: 0;
}

.todo-item {
    background-color: #f7f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.todo-item.completed {
    text-decoration: line-through;
    color: #dcdde1;
}

.complete-btn, .delete-btn {
    background-color: #e84118;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.complete-btn:hover, .delete-btn:hover {
    background-color: #c23616;
}

.complete-btn {
    background-color: #44bd32;
}

.complete-btn:hover {
    background-color: #4cd137;
}
